  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">
    <!-- Blog entries -->
    <div class="w3-col l8 s12">
      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large" *ngFor ="let post of posts" routerLink = "/post/{{ post?.id }}">
        <div class="w3-center">
          <h3 (click)="getSinglePost(post)">{{ post?.title }}</h3>
        </div>
        <div class="w3-justify">
          {{ post?.body }}
          <p class="w3-clear"></p>
        </div>
      </div>
      <hr>
    <!-- END BLOG ENTRIES -->
    </div>
<app-sidebar></app-sidebar>

  <!-- END GRID -->
  </div>
